<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, intial-scale=1.0" />

    <title>@ViewData["Title"]-BibleVerseApp</title>
    @*rel is a link with a rel attribute-- specify the relationship between the current document and
        the linked document.
        href attribute specifies the URL of the page the link goes to
        type attribute specifies the media type of the linked document/respurces.
        media atrribute specifies what media/device the link doc is optimized for.
    *@
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" />

    <script type="text/javascript" src="~/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/js/cufon-yui.js"></script>
    <script type="text/javascript" src="~/js/cufon-replace.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_400.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_400.font.js"></script>
    <script type="text/javascript" src="~/js/Myriad_Pro_italic_600.font.js"></script>
</head>
<body id="page1">
    <div class="body1">
        <div class="main">
            <header>

                <div class="wrapper">
                    <h1>
                        @*span tag is a generic inline container for phrasing contwnt
                            used to group eoement fro styling

                            span tag is used for inline elements where div tables i use with block-level content*@
                        <a href="index.cshtml" id="logo">bible search </a><span id="slogan">Find your Bible Verse</span>
                    </h1>
                    <div class="right">
                        @*nav element represents as section of the page whose purpose is to provice navigation links.*@
                        <nav>
                            <ul id="top_nav">
                                <li><a href="index.cshtml"><img src="~/img/img1.gif" alt="" /></a></li>
                                <li><a href="index-4.cshtml"><img src="~/img/img2.gif" alt="" /></a></li>
                                <li class="bg_none"><a href="index.cshtml"><img src="~/img/img3.gif" alt="" /></a></li>
                            </ul>
                        </nav>
                        <nav>
                            <ul id="menu">
                                <li id="menu_active"><a href="index.cshtml">Home</a></li>
                                <li><a href="index.cshtml">Bible App</a></li>
                                <li><a href="index.cshtml">Search</a></li>
                                <li><a href="index.cshtml">Contact Us</a></li>
                                <li><a href="index.cshtml">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="body2">
        <!--footer-->
        <footer>
            &copy: 2021 - Bible Verse App -
        </footer>
        <!--end footer-->
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">Cufon.now();</script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--this means that the main layout has a section scripts
        key-> only the existence of a rendersection call make a layout
        actually have a script section.
        the await operator suspends evaluation of the enclosed async method
        until the asynchronous operation rperesented by its operand completes.
        when the asynchronous operation completes, the await operator returns
        the results of the operation, if anything to return.-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>